<article class="row-fluid">
  <div class="span12 columns">

		<% if can? :create, Article %>
			<%= link_to 'Show', @article %> |
			<%= link_to 'Back', articles_path %>
			<%= render 'form' %>
		<% end %>

  </div>
</article>