<% title "Edit Profile" %>

<article class="row-fluid">
  <div class="span12 columns">

		<%= link_to 'Show', @user %> |
		<%= link_to 'Back', articles_path %>
		<%= render 'form' %>

  </div>
</article>