<!-- Home Page Banner
  ===================================================== -->
	<section class="row-fluid">
		<header role="banner" id="header" class="span12 home"> <%#= first row with one column %>
		 	<a class="btn span12" href="/">
		  	<img src="assets/home/title.png" />
	  	</a>
		</header>
	</section>

<!-- Home Page Navigation
  ===================================================== -->	
	<section id="home-nav" class="row-fluid"> <%#= second row first column %>
		<ul class="thumbnails span6">
		  <li>
		    <div class="thumbnail">
		      <img
						src="/assets/home/jack-sparrow5.jpg"
						alt="Jack Sparrow"
						title="Jack Sparrow"
						width="340" height="255" 
					/>
					<br />
					<%= link_to "About Jack", "#", :class => "btn btn-primary btn-large" %>
		      <sup id="fnref:1.1" class="footnote pull-right">
		        <a href="#fn:1.1">[1]</a>
		      </sup>
		    </div>
		  </li>
		</ul>

		<ul class="thumbnails span6">
		  <li>
		    <div class="thumbnail">
		      <img
						src="/assets/home/vercingetorix2.jpg"
						alt="Vercingetorix throws down his arms at the feet of Julius Caesar"
						title="Vercingetorix throws down his arms at the feet of Julius Caesar"
						width="340" height="255" 
					/>
					<br />
					<%= link_to "Browse Articles", articles_path, :class => "btn btn-primary btn-large" %>
		      <sup id="fnref:1.2" class="footnote pull-right">
		        <a href="#fn:1.2">[2]</a>
		      </sup>
		    </div>
		  </li>
		</ul>
	</section>

	<!-- Home Page Footnotes
	  ===================================================== -->	

<section class="row-fluid"> <%#= third row with one column %>
	<footer class="span12">
		<ol>
		  <li id="fn:1.1">This is an illustration believed to be in the <a href="http://en.wikipedia.org/wiki/File:Siege-alesia-vercingetorix-jules-cesar.jpg" title="Public Domain" target="_blank">public domain</a>. The poster was found on the <a href="http://pirates.wikia.com/wiki/File:JackPromotional.jpg" title="Jack Sparrow" target="_blank">Pirates of the Caribbean Wiki</a> titled &ldquo;Jack Sparrow Promotional&rdquo;, artist unknown.
		    <a href="#" class="arrow">&#91;<i class="icon-arrow-up"></i>&#93;</a>
		  </li>

		  <li id="fn:1.2">This is a faithful photographic reproduction of an original two-dimensional work of art. The work of art itself and the photograph is in the 
		    <a href="http://en.wikipedia.org/wiki/File:Siege-alesia-vercingetorix-jules-cesar.jpg" title="Public Domain" target="_blank">public domain</a>. This 1899 painting by
		    <a href="http://en.wikipedia.org/wiki/Lionel_Royer" title="Lionel Royer" target="_blank">Lionel Royer</a> titled &ldquo;Vercingetorix jette ses armes aux pieds de Jules César&rdquo; or, in English, &ldquo;Vercingetorix throws down his arms at the feet of Julius Caesar&rdquo; depicts the surrender of the Gallic chieftain after the Battle of Alesia &#40;52 BC&#41; and includes a number of historical inconsistencies. The painting is currently located in the <a href="http://www.lepuyenvelay.fr/culture-et-patrimoine/musee-n15.html" target="_blank" title="Musée Crozatier">Musée Crozatier</a>, a museum in Le Puy-en-Velay in the French Auvergne.
		    <a href="#" class="arrow">&#91;<i class="icon-arrow-up"></i>&#93;</a>
		  </li>
		<ol>
	</footer>
</section>
