<!-- Home Index
  ===================================================== -->
	<div class="row-fluid">
		<div class="span12"> <%#= first row with one column %>

	  	<header role="banner" id="header">
	    	<hgroup id="hgroup">
	      	<a class="hero-unit btn span10" href="/">
		      	<img src="assets/home/title.png" />
	       	</a>
	     	</hgroup>
	   	</header>

			<div class="row-fluid"> <%#= second row with two columns %>
		  	<div class="span5"> <%#= second row first column %>
					<ul class="thumbnails page-header">
					  <li>
					    <div class="thumbnail">
					      <img src="/assets/home/vercingetorix.jpg"
					alt="Vercingetorix throws down his arms at the feet of Julius Caesar"
					title="Vercingetorix throws down his arms at the feet of Julius Caesar"
					width="340" height="255"      />
								<br />
								<a class="btn btn-primary btn-large">About Jack</a>
					      <sup id="fnref:1.1" class="footnote pull-right">
					        <a href="#fn:1.1">[1]</a>
					      </sup>
					    </div>
					  </li>
					</ul>
				</div>
		    <div class="span5"> <%#= second row second column %>
					<ul class="thumbnails page-header">
					  <li>
					    <div class="thumbnail">
					      <img src="/assets/home/vercingetorix.jpg"
					alt="Vercingetorix throws down his arms at the feet of Julius Caesar"
					title="Vercingetorix throws down his arms at the feet of Julius Caesar"
					width="340" height="255"      />
								<br />
								<a class="btn btn-primary btn-large">Browse Articles</a>
					      <sup id="fnref:1.1" class="footnote pull-right">
					        <a href="#fn:1.1">[1]</a>
					      </sup>
					    </div>
					  </li>
					</ul>
		    </div>
			</div>

			<footer class="row-fluid"> <%#= third row with one column %>
				<div class="span10">
					<ol>
					  <li id="fn:1.1">This is a faithful photographic reproduction of an original two-dimensional work of art. The work of art itself and the photograph is in the 
					    <a href="http://en.wikipedia.org/wiki/File:Siege-alesia-vercingetorix-jules-cesar.jpg" title="Public Domain" target="_blank">public domain</a>. This 1899 painting by
					    <a href="http://en.wikipedia.org/wiki/Lionel_Royer" title="Lionel Royer" target="_blank">Lionel Royer</a> titled &ldquo;Vercingetorix jette ses armes aux pieds de Jules César&rdquo; or, in English, &ldquo;Vercingetorix throws down his arms at the feet of Julius Caesar&rdquo; depicts the surrender of the Gallic chieftain after the Battle of Alesia &#40;52 BC&#41; and includes a number of historical inconsistencies. The painting is currently located in the <a href="http://www.lepuyenvelay.fr/culture-et-patrimoine/musee-n15.html" target="_blank" title="Musée Crozatier">Musée Crozatier</a>, a museum in Le Puy-en-Velay in the French Auvergne.
					    <a href="#" class="arrow">&#91;<i class="icon-arrow-up"></i>&#93;</a>
					  </li>
					<ol>
				</div>
			</footer>

		</div>
	</div>
