<article class="row-fluid">
  <div class="span12 columns">

		<% title "Integrate" %>
		<hgroup class="hgroup">
			<h1><span>Integrate</span></h1>
		</hgroup>

    <header class="row-fluid span12 page-header">
      <section class="span4 pull-left">
				<ul class="thumbnails">
				  <li>
				    <div class="thumbnail">
							<img src="http://placehold.it/300x225" alt="" title="" width="300" height="225" />
				      <br />
				      <sup id="fnref:2.1" class="footnote pull-right">
				        <a href="#fn:2.1">[1]</a>
				      </sup>
				    </div>
				  </li>
				</ul>
      </section>

      <section class="span8 pull-right">
				<h1 class="first">
				  <span class="o">O</span><small><span class="firstLine">h, hello there&#033;</span> 
				  <span class="small">I&#039;m Mark Schipper and I built this site. That&#039;s right, I&#039;m a Jack-of-all-trades, I researched and wrote the Book of Jack, I also handcrafted this here website. Designed. Developed. Deployed. <sup id="fnref:2.2" class="footnote"><a href="#fn:2.2">[2]</a></sup></span></small></h1>
     	</section>
    </header>

    <section id="tabs" class="article-nav">
      <div class="tabbable">

        <ul class="nav nav-pills">
          <li id="fn:2.1" class="active"><a href="#1" data-toggle="tab">
          About</a></li>
        </ul>

        <div class="tab-content">

		      <!-- About
		      ================================================= -->
          <div class="tab-pane active" id="1">
	    			<div class="span4 pull-left">
							<p>I currently live in Calgary Canada. I have worked in the eduction industry for more than twenty years in both the public and private sectors including K&#045;12 and post-secondary environments.</p>
							<p>Over the years, I have been an instructor, recruiter, marketer, and administrator.</p>
							<p>At heart, I am an educator, having cultivated a unique perspective on &lsquo;Education as a Business&rsquo; (EaaB) - a combination of expertise in learning and development theory and practice, and sales and marketing, all with a focus on agile methodologies, continuous incremental and iterative improvement, pragmatic governance, all wrapped up in a  results-driven culture.</p>
						</div>

	    			<div class="span4">
							<p>Currently I am the Program Director for the Computer Application and Technology programs at University of Calgary Continuing Education.</p>
	 						<p>I manage about 20 instructors and staff delivering several hundred courses in class, online, synchronously and asynchronously....</p>
						</div>

						<div class="span4 pull-right">
							<p>A few years ago, I thought I should learn what an HTML tag is, so I bought Elizabeth Castro&rsquo;s HTML and CSS QuickStart book and have since read over 150 web design and development books along with hundreds, if not thousands, of online articles, tutorials and videocasts.</p>
							<p>I now know what HTML is, and have learned a bit more about web design and development, which culminates in this project.</p>
						</div>

          </div>
				</div>

      </div>
    </section>

  </div>
</article>