<h1 class="first">
  <span class="o">O</span><small><span class="firstLine">h, hello there&#033;</span> 
  <span class="small">I&#039;m Mark Schipper and I built this site.<sup id="fnref:6.2" class="footnote"><a href="#fn:6.2"> [2]</a></sup></span></small>
</h1>


<section class="row-fluid">
  <div class="span8 pull-left">
    <h3 class="accent"><span>A Bit More About Me</span></h3>

    <p>I live in Calgary Canada. I have worked in the eduction industry for more than twenty years in both the public and private sectors including K&#045;12 and post-secondary environments.</p>

    <p>I currently manage the computer application and technology programs at University of Calgary Continuing Education. You can read more about me on <%= link_to "LinkedIn",
    "http://ca.linkedin.com/in/schipperius", :target => "_blank", :title => "LinkedIn" %>.</p>

    <p>A few years ago, I didn&rsquo;t know what an HTML tag was, I thought I should learn, so I bought Elizabeth Castro&rsquo;s HTML and CSS QuickStart book and have since read over 120 web design and development books along with countless online articles, tutorials and videocasts.</p>

    <p>The Book of Jack website represents the culmination of what I have learned over the last few years.</p>

  </div>



<ol class="nav nav-pills">
  <li><a href="http://ca.linkedin.com/in/schipperius" target="_blank"><%= image_tag("social/linkedin.png", :alt => "LinkedIn", :title => "LinkedIn", :size => "30x30" ) %></a></li>
  <li><a href="http://twitter.com/#!/BookofJack" target="_blank"><%= image_tag("social/twitter.png", :alt => "Twitter", :title => "Twitter", :size => "30x30" ) %></a></li>
 <li><a href="https://github.com/schipperius/Jack" target="_blank"><%= image_tag("social/octocat.png", :alt => "Github", :title => "Github", :size => "30x30" ) %></a></li>
</ol>
