/* Home Index Styles
======================================================== */

html {
	height: 100%;
}

body { 
	padding: 60px 0;
}

.brand
{
  background: url(assets/home/banner.png) no-repeat left center;
}