/* Home Index Styles
======================================================== */

html {
	height: 100%;
}

body {
	margin: 0 20px 0 20px;
	padding: 60px 0;
	background: #F0F0F0;
}

#home-nav {
	padding-top: 2em;
}

/* to center images in bootstrap */
.thumbnails {
    text-align: center;
}

.thumbnails li {
    float: none !important; /* to overwrite the default property on the bootstrap stylesheet */
    display: inline-block;
    *display: inline; /* ie7 support */
    zoom: 1;
}
