

/* ========== Custom Styles

======================================================== */

html {
	height: 100%;
}

body { 
	padding: 70px 0;
}

strong {
	color: #660000;
}

.accent {
	font-size: 1.2em;
	font-variant: small-caps;
	letter-spacing: .13em;
	color: #660000;
}

.color-red {
	font-color: #660000;
}


.about {
	color: #660000;
}

header ul .show-pag {
	margin-top: 5em;
	padding-top: 5em;
}

