<!-- Site Footer
======================================================= -->
<footer id="footer" class="footer navbar navbar-fixed-bottom hidden-phone">
  <div class="navbar-inner">
    <div class="container-fluid">
      <ul class="nav pull-right">
        <li><a href="/integrate">&copy; 1994-<%= Date.today.year %> Integrate Design Studio</a></li>
      </ul>
    </div>
  </div>
</footer>
