<!-- Site Header
======================================================= -->
<header role="banner" id="header" class="hidden-phone">
 	<a class="btn span12" href="/"><img src="assets/home/title.png" title="Home" alt="Home" /></a>
</header>
